<div class="row mt-4">

  <div class="col-sm-3 col-md-3 d-sm-block d-none position-relative">
    <aside class="w-25 h-100 bg-dark pt-5 position-fixed start-0 d-sm-block">
      <h3 class="text-light text-center">Here i am</h3>
    </aside>
  </div>

  <div class="col-sm-9 position-relative pt-5 start-0">
    <h1>admin</h1>
  </div>
</div>